



<div class="col-lg-9">


    <div class="col-lg-5 image-slider-plugin">
        <div id="image-slider-plugin">
            <!-- Slides Container -->
            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 445px; height: 150px;">

                <div class="image-slider-image" u="image" style="background-image: url(/Content/Images/NewsPosts/post1.png);"></div>
                <div class="image-slider-image" u="image" style="background-image: url(/Content/Images/NewsPosts/post2.png);"></div>
                <div class="image-slider-image" u="image" style="background-image: url(/Content/Images/NewsPosts/post3.png);"></div>

            </div>

        </div>
    </div>

    <a style="display:block" href="/Game"><div class="col-lg-4 play-now-button"></div></a>


    <div class="col-lg-3  game-stats-feed">
        <p class="game-stats-feed-title">Recent Games</p>
        @Html.Partial("~/Views/Shared/Partials/GameStats.cshtml")
    </div>

    <div class="col-lg-12 news-plugin">
        @Html.Partial("~/Views/Shared/Partials/News.cshtml")
    </div>

</div>



<div class="col-lg-3 col-lg-offset-0">

    <div class="col-lg-12 github-feed">
        <p class="github-feed-title">Souls Updates</p>
        @Html.Partial("~/Views/Shared/Partials/Github.cshtml")
    </div>

    <div class="col-lg-12 services-plugin">
        <p class="services-plugin-title">Server Status</p>
        @Html.Partial("~/Views/Shared/Partials/Services.cshtml")
    </div>


</div>






<script>


    jQuery(document).ready(function ($) {
        var options = {
            $AutoPlay: true,

        };


        var jssor_slider1 = new $JssorSlider$('image-slider-plugin', options);
    });


    $('.github-feed').perfectScrollbar(
            {
                suppressScrollX: true,
                includePadding: true
            });

</script>