@Styles.Render("~/Content/CSS/Game.css")
@{
    ViewBag.Title = "Index";

}

<div id="game-window">


</div>



@Scripts.Render("~/Scripts/pixi.dev.js")

@Scripts.Render("~/Scripts/Game/Extensions.js")
@Scripts.Render("~/Scripts/Game/ResourceLoader.js")


@Scripts.Render("~/Scripts/Game/Targeter.js")
@Scripts.Render("~/Scripts/Game/Card.js")


@Scripts.Render("~/Scripts/Game/Game.js")
<script>
    $(window).load(function () {
        // "Fix the container width, and remove its padding"
        $(".container").addClass("fullContainer");

        // Get game-div
        var gameDiv = $(".container");

        /* // If Window gets resized
         window.onresize = function (event) {
             // Resize the renderer
             soulsGame.window.resize($(window).width(), $(window).height() - $(".navbar").height());*/
    });

    var game = new Souls();
    Souls.Func.Init();
    Souls.Func.GameLoop();
    Souls.Func.SetBackground();





    var x = 300;
    var startY = 900;

    for (var i = 0; i < 7; i++) {
        Souls.Card.Spawn(x += 150, startY);
    }





</script>

