@Styles.Render("~/Content/CSS/Game.css")
@{
    ViewBag.Title = "Index";

}

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />


<div id="game-window" style="position:absolute; left:0px; top:0px"></div>


<script>
    $(".page-wrapper").css("background-color", "transparent", "important");
    $("body").css("background-color", "#000000", "important");
    $("body").css("background-image", "none", "important");
    $(".page-top").remove();
</script>
<script src="Scripts/require.js" data-main="Scripts/Game/Main"></script>