

<div>
    <table>

        <tr>
            <td>Name: </td>
            <td>@SoulsClient.Classes.cSession.Current.player.name</td>
        </tr>

        <tr>
            <td>Race: </td>
            <td>@SoulsClient.Classes.cSession.Current.player.playerType.race.name</td>
        </tr>

        <tr>
            <td>Rank: </td>
            <td>@SoulsClient.Classes.cSession.Current.player.rank</td>
        </tr>

        <tr>
            <td>Money: </td>
            <td>@SoulsClient.Classes.cSession.Current.player.money</td>
        </tr>

       

    </table>




</div>