
.card-container {
    background-image: url('/Content/Images/Card/Texture/card_error.png');
    background-size: 150px 210px;
    background-repeat: no-repeat;
    max-width: 150px;

}

.card-purchase
{
    position: relative;
    top: -20px;
    left: 40px;
}


.card-portrait {
    background-image: url('/Content/Images/Card/Portraits/0.jpg');
    background-size: 108px 79px;
    background-repeat: no-repeat;
    min-height: 108px;
    min-width: 79px;
    position: relative;
    top: 51px;
    left: 21px;
}

.card-health {
    position: relative;
    top: -1px;
    left: 122px;
    color: white;
    font-family: "Arial";
    font-size: 17px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-attack {
    position: relative;
    top: -25px;
    left: 13px;
    color: white;
    font-family: "Arial";
    font-size: 17px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-ability {
    position: relative;
    top: -15px;
    left: 50px;
    color: black;
    font-family: "Arial";
    font-size: 17px;
    font-weight: bold;
}

.card-cost {
    position: relative;
    top: -97px;
    left: 15px;
    color: white;
    font-family: "Arial";
    font-size: 17px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-name {
    position: relative;
    top: -111px;
    left: 45px;
    color: black;
    font-family: "Arial";
    font-size: 17px;
    font-weight: bold;
}
