body {
    height: 100%;
    padding-bottom: 50px;
    background-image: url(/Content/Images/Page/bg.jpg);
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

html {
    height: 100%;
}

.page-wrapper {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 50px;
    padding-top: 5px;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: whitesmoke;
    /*opacity: 0.97;*/
}

.page-logo {
    background-image: url(/Content/Images/Page/Logo_black_glow.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100%;
    margin-bottom: 50px;
}

.page-content {
}


.page-top {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    height: 15%;
}
