
.buy-confirm {
    border: 1px solid black;
    padding: 5px;
    display: none;
    margin-bottom: 15px;
}

.buy-confirm-card {
    max-width: 150px;
    margin-left: 20%;
}

.buy-card-custom {
    width: 100%;
}

.buy-confirm-text {
    text-align: center;
}

.hansel {
    background-image: url(/Content/Images/Page/hansel.png);
    background-size: 300px 150px;
    background-repeat: no-repeat;
    width: 300px;
    height: 150px;
}

.hansels-shop-title{
    text-align: center;

}
