@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>
<div class="col-lg-12">
    @Html.Partial("~/Views/Shared/Partials/GameStats.cshtml")
</div>




<script>





</script>