@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>




<script>


    // var socket = new WebSocket('ws://tux.persoft.no:8140');
    var socket = new WebSocket('ws://tux.persoft.no:8140/admin');


    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
        callback(error);
    };

    socket.onopen = function (event) {
        //console.log("Connection OPEN");
        callback(event);
    };

    socket.onmessage = function (event) {
        callback(event);
    };


    socket.onclose = function (event) {
        console.log("Closed WebSocket");
    };






</script>