


<table id="game-stats-feed" class="table">

    <thead>
        <tr>
 
        </tr>

    </thead>

    <tbody></tbody>
</table>






<script>

    var highestGameId = 0;


    $.getJSON("/Home/GetGames", function (json) {
        $.each(json, function (key, value) {
      
            var table = document.getElementById("game-stats-feed");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);

            cell1.innerHTML = "<a href='/Game/Stats/" + value.gameId + "'>" +  value.player1 + " vs " + value.player2 + "</a>"; //"<a href='" + data.url + "'>" + data.message.substring(0, 150); + "</a>";
  


        });

    });



</script>