
<table id="github-feed" class="table">

    <thead>
        <tr>
            <th>Message</th>
            <th>Committer</th>
        </tr>

    </thead>
  
    <tbody></tbody>
</table>



<script>
    $.getJSON("https://api.github.com/repos/perara/souls/commits?access_token=886675132d38c1ebfa68c1674197233c851ed421", function (json) {

        json.reverse();
        console.log(json);
        $.each(json, function (key, value) {
            var data = {};
            data.committer = value.commit.committer.name;
            data.date = value.commit.committer.date;
            data.message = value.commit.message;
            data.url = value.html_url;

            var table = document.getElementById("github-feed");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = "<a href='" + data.url + "'>" + data.message.substring(0, 150); + "</a>";
            cell2.innerHTML = data.committer;


            $(row).hide();
            $(row).fadeIn();
        });





    });



</script>