

<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
<meta http-equiv="EXPIRES" content="0"> 

<div class="news-wrapper">
    <div class="loader col-lg-4 col-lg-offset-5">
        <img width="256" height="256" src="http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_512.gif" />
    </div>
</div>


<script>


    $.getJSON("/Home/GetNews", function (json) {
        $(".news-wrapper").hide();
        json.reverse();
        $.each(json, function (key, value) {

            $(".news-wrapper").append(
                    "<div class='news-item'>" +
                    "<div class='news-item-title'  style='display:none;'>" + value.title + "</div>" +
                    "<div class='news-item-text'>" + value.text + "</div>" +
                    "<hr style='width: 90%; border-top: 1px solid black;' />" +
                    "<div class='news-item-bottom'>" + value.author + " - " + value.date + "</div>" +
                    "</div>"
                );
        });
        $(".news-wrapper").fadeIn();
        $(".loader").remove();

    });



</script>