
<div class="col-lg-12 player-wrapper">
    <!-- Name -->
    <div id="name">Name: </div>

    <!-- Race -->
    <div id="race">Race: </div>

    <!-- Money -->
    <div id="money">Soul Coins: </div>

    <!-- Rank -->
    <div id="rank">Rank: </div>

    <!-- Faction -->
    <div id="type">Faction: </div>

    <!-- Health -->
    <div id="health">Health:</div>

    <!-- Bonus Mana -->
    <div id="bonusmana">Bonus Mana: </div>

</div>



<script>
    $.ajax({
        type: 'GET',
        url: '/Player/GetPlayer',
        async: false,
        jsonpCallback: 'jsonCallback',
        contentType: "application/json",
        dataType: 'jsonp',
        success: function (json) {

            $.each(json, function (key, value) {
                $("#" + key).append(value);
            });

        },
        error: function (e) {
            console.log(e.message);
        }
    });

    /*$(function () {
        $(".player-wrapper").draggable();
    });*/


</script>