
<table id="services-plugin" class="table">

    <thead>
        <tr>
            <th>Service</th>
            <th>Status</th>
        </tr>

    </thead>

    <div class="loader">
        <img width="32" height="32" src="http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_512.gif" />
    </div>

    <tbody></tbody>
</table>



<script>



    $.getJSON("/Home/ServiceStatus", function (json) {
        $("#services-plugin").hide();
        $.each(json, function (key, value) {

            var table = document.getElementById("services-plugin");
            var row = table.insertRow(1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = key;
            cell2.innerHTML = (!!value) ? "<font color='green'><b>Online</b></font>" : "<font color='red'><b>Offline</b></font>";
        });
        $("#services-plugin").fadeIn();
        $(".loader").remove();


      
    });



</script>